*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    height: 6rem;
    margin-bottom: 5rem;
}
p{
    font-size: 1rem;
    line-height: 150%;
    color: rgb(153, 148, 148);
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}
article{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#logo{
    height: 100px;
}
.navlist{
    display: none;
}
.menubutton{
    background-color: transparent;
    border: none;
}
.menubutton span{
    font-size: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}
h1{
    font-size: 1.72rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.44rem;
    margin-bottom: 1.25rem;
}
h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h4{
    font-size: 1rem;
}
section{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    border-top: 1px solid lightgray;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
#facebook{
    width: 5rem;
}
#facebook:hover{
    opacity: 80%;
}
#whatsapp{
    width: 5rem;
}
#whatsapp:hover{
    opacity: 80%;
}
#twitter{
    padding-top: 8px;
    width: 4rem;
}
#twitter:hover{
    opacity: 80%;
}
#linkedin{
    padding-top: 3px;
    width: 4.5rem;
}
#linkedin:hover{
    opacity: 80%;
}
#insta{
    padding-top: 3px;
    width: 4.5rem;
}
#insta:hover{
    opacity: 80%;
}
#gitlab{
    padding-top: 2px;
    width: 4.5rem;
}
#gitlab:hover{
    opacity: 80%;
}
#github{
    width: 5.5rem;
}
#github:hover{
    opacity: 80%;
}
@media only screen and (min-width:576px){

}
@media only screen and (min-width:768px){
    h1{
        font-size: 2.07rem;
    }
    h2{
        font-size: 1.72rem;
    }
    h3{
        font-size: 1.44rem;
    }
    h4{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .menubutton{
        display: none;
    }
    .navlist{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    .menulist{
        color: lightskyblue;
    }
    .menulist:hover{
        font-size: 1.5rem;
        font-weight: 600;
        color: blue;
    }
}

@media only screen and (min-width:992px){

}
@media only screen and (min-width:1200px){
    h1{
        font-size: 2.98rem;
    }
    h2{
        font-size: 2.48rem;
    }
    h3{
        font-size: 2.07rem;
    }
    h4{
        font-size: 1.72rem;
    }
}