*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loginsection{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}
.inputholder{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.inputholder input{
    width: 500px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid gray;
}
.inputholder input:focus{
    outline: 1px solid gray;
}
.buttonholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 2rem;
    border-radius: .25rem;
    transition: 0.5s
}
.button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.button:hover{
    cursor: pointer;
}
.buttonprimary{
    background-color: black;
    color: white;
}
.buttonprimary:hover{
    background-color: rgb(47, 47, 47);
}
.buttonsecondary{
    background-color: white;
    color: black;
}
.buttonsecondary a{
    font-size: 10px;
}
.buttonsecondary:hover{
    background-color: lightgray;
    color: white;
} 
.passwordrules{
    margin-top: 2rem;
    font-size: 0.75rem;
    color: gray;
}
.validationsymbol{
    color: red;
}
.green{
    color: green;
}
@media only screen and (min-width:576px){
}
@media only screen and (min-width:768px){
}
@media only screen and (min-width:992px){
}
@media only screen and (min-width:1200px){
}
