*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dp{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, lightblue, lightyellow);
    margin-top: 50px;
    margin-bottom: 40px;
}
.section1 h1{
    color: brown;
}
.section1 h2{
    color: blueviolet;
}
.section1 p{
    max-width: 500px;
    color: skyblue;
}
@media only screen and (min-width:576px){

}
@media only screen and (min-width:768px){
}
@media only screen and (min-width:992px){
    .section1{
        flex-direction:row-reverse;
    }
}
@media only screen and (min-width:1200px){
}
