*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section1 h1{
    color: darkmagenta;
    max-width: 600px;
}
.section1 p{
    line-height: 200%;
    max-width: 500px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloglist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

}
.blogimg{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    max-width: 100%;
    margin-top: 2rem;
    border-radius: 10px;
}
.blog h3{
    margin-top: 2rem;
    text-align: center;
    
}
.blog span{
    max-width: 400px;
    font-size: 15px;
}
.clickhere{
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: large;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.clickhere:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.5s ease-in;
}

@media only screen and (min-width:576px){
    .blogslist{
        display: grid;
        grid-template-columns: 1fr;
    }

    }
@media only screen and (min-width:768px){
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }
@media only screen and (min-width:992px){
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;      
    }
    .section1 p{
        max-width: 700px;
    } 
}
@media only screen and (min-width:1200px){
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}